.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.6rem;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  margin-bottom: 12.1rem;
  text-align: center;

  h2 {
    @include font-style(2rem, 700);
    text-shadow: 0 0.4rem 0.4rem $shadow;
    text-transform: uppercase;
    color: $text;
  }

  h1 {
    @include font-style(9.6rem, 400);
    margin-top: 3.5rem;
    text-transform: uppercase;
    color: $text;
  }
}
