.buttons-container {
  button {
    @include font-style(1.6rem, 400);
    padding: 1.5rem 2.7rem;
    text-transform: uppercase;
    color: $text;
    background: $button;
    border: 0.1rem solid transparent;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.2s ease-in;

    & + button {
      margin-left: 2.1rem;
    }

    &:hover {
      filter: brightness(1.2);
      border-color: $text;
    }
  }

  .trailer {
    background: $button-trailer;
  }
}
