
@media (max-width:900px) {
    .poster-box {
        padding: 1rem;
        width: 100%;
        align-items: center;
        justify-content: center;

        .descrition {
            p {

                font-size: 1.4rem;
            }
        }
        .star {
            padding: 2rem 0;
            flex-wrap: wrap;
            img {
                margin: 1rem 0;
            }
            p {
                font-size: 1.4rem;
            }
        }

        .buttons {
            display:flex;
    
            button {
                margin: .5rem 0;
                padding: 1rem;
            }
        }
    }
}