.poster-box {
 
    display: flex;
    width: 97.9rem;
    .poster {
        img {
            border-radius: .2rem;
           
        }
    }
    .descrition {
       
        margin-left: 7.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        p {
            @include font-style (2rem, 400);
            color: $text;
        }
    
        .star {
            display: flex;
            justify-content: space-between;
            @include font-style(2.4rem, 700);
            color: $text;
                p{
                    display: flex;
                    align-items: center;
                    img {
                        margin-right: 1.45rem;
                      
                    }
                }
             
            
        }
    }
}
