.poster-box {
    display: flex;
    width: 97.9rem;
    
    .descrition {
        margin-left: 7.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        p {
            @include font-style (2rem, 400);
            color: $text;
        }
        .star {
            display: flex;
            justify-content: space-between;
        }
    }
}