@import 'mixins';
@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'B612', sans-serif;
}

h2 {
    @include font-style (2rem, 700);
    color: $text;
    text-shadow: 0 .4rem .4rem $shadow;
    text-transform: uppercase;
}

h1 {
    @include font-style (9.6rem, 400);
    color: $text;
}