@import 'reset';
@import 'colors';
@import 'buttons';
@import 'mixins';
@import 'poster';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('/src/img/bg.svg');
}

