@import 'reset';
@import 'colors';
@import 'buttons';
@import 'mixins';
@import 'poster';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('/src/img/bg.svg');
}

.header {
    text-align: center;
    margin-bottom: 12.1rem;
    h2 {
        @include font-style (2rem, 700);
        color: $text;
        text-shadow: 0 .4rem .4rem $shadow;
        text-transform: uppercase;
    }
    
    h1 {
        @include font-style (9.6rem, 400);
        color: $text;
        text-transform: uppercase;
        margin-top: 3.5rem;
    }
    }


